@model Javno.Models.SearchVM

<div class="container">
	<div class="row w-100" id="apartmentContainer">
		@for (int i = 0; i < Model.SearchResult.Count; i++)
		{
			<div class="col border border-dark bg-light justify-content-center" style="width:525px;height:309.5px">
				<div class="font-weight-bold text-warning text-center ">@Model.SearchResult[i].Name</div>
				@if (Model.SearchResult[i].StarRating == null)
				{
					<p class="text-info text-center">This apartment has not yet been rated</p>
				}
				<p class="text-center">
					@for (int j = 0; j < Model.SearchResult[i].StarRating; j++)
					{
						<i class="bi bi-star-fill"></i>
					}

					@for (int j = 0; j < 5 - Model.SearchResult[i].StarRating; j++)
					{
						<i class="bi bi-star"></i>
					}

				</p>
				<hr />
				<table>
					<tr>
						<td>
							<div class="m-1">
								<img src="/Apartment/Picture?Path=@Model.SearchResult[i].RepresentativePicturePath" style="height:200px;width:260px" />
							</div>
						</td>
						<td>
							<ul>
								<li>City: <span class="font-italic">@Model.SearchResult[i].CityName</span></li>
								<li>Beach distance: <span class="font-italic"> @Model.SearchResult[i].BeachDistance m</span></li>
								<li>Number of rooms: <span class="font-italic"> @Model.SearchResult[i].TotalRooms</span></li>
								<li>Number of adults: <span class="font-italic"> @Model.SearchResult[i].MaxAdults</span></li>
								<li>Number of children: <span class="font-italic"> @Model.SearchResult[i].MaxChildren</span></li>
							</ul>
							<div class="ml-4">Price: @Model.SearchResult[i].Price €</div>
							<div class="ml-4 mb-4">
								@Html.ActionLink("Detalji", "Details", new { id = Model.SearchResult[i].Id }, new { @class = "btn btn-primary" })
							</div>
						</td>
					</tr>
				</table>



			</div>
		}
	</div>
</div>