@model Javno.Models.UserLoginVM
@{
	ViewBag.Title = "Login";
}

<body>
	@using (Html.BeginForm("Login", "User", "POST"))
	{

		<div class="container">
			<div class="row d-flex justify-content-center align-items-center">
				<div class="col-12 col-md-8 col-lg-8 col-xl-5">
					<div class="card shadow-2-strong" style="border-radius: 1rem;">
						<div class="card-body p-5 text-start">
							<div>
								<h2>
									@ViewBag.Error
								</h2>
							</div>
							<h3 class="mb-5 font-weight-bold text-center">Sign in</h3>
							<hr />

							@*E-mail*@
							<div class="form-outline">
								@Html.LabelFor(x => x.Email)
								@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

							</div>

							@*Password*@
							<div class="form-outline ">
								@Html.LabelFor(x => x.PasswordHash)
								@Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })

							</div>
							<a class="text-info" href="~/User/Register">Dont't have an account?</a>
							@*Cookie*@
							<!--<div class="form-check d-flex justify-content-start">
							<label class="form-check-label" for="chkPersistCookie">Remember me</label>
							</div>-->

							<hr />
							<input type="submit" value="Login" class="btn btn-primary" />

						</div>
					</div>
				</div>
			</div>
		</div>
	}
</body>